@import "../../../../assets/scss/variables";

#chatter {
  overflow-y: auto;
  display: flex;
  text-align: left;
  margin-top: 10px;

  h3 {
    margin: 0 10px 0 0;
  }

  .chatter-info {
    display: flex;
    margin-right: 10px;
    min-width: 80px;
    padding: 10px;
  }

  .chatter-status {
    display: flex;
    align-items: center;
  }
  .online-status {
    display: inline-block;
    border-radius: 50%;
    width: 10px;
    height: 10px;
  }

  .online {
    background-color: $success;
  }

  .offline {
    background-color: $danger;
  }
}
